.box {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #000000;
}

.undo {
  position: absolute;
  right: 10px;
  top: 10px;
}
.moveBtns {
  position: absolute;
  bottom: 40%;
  left: -18px;
  display: flex;
  flex-direction: column;
}
.moveBtn {
  font-size: 12px;
  background-color: #00000054;
}
.textButtons {
  position: absolute;
  background-color: #131313ab;
  bottom: 0;
  width: 100%;
}
.text {
  font-size: 24px;
  text-align: center;
}
.btns {
  display: flex;
  justify-content: space-around;
}
.hiddenBtn {
  position: absolute;
  display: inline-block;
  /* width: 60px;
  height: 124px;
  top: 371px;
  left: 357px; */

  /* background-color: #000000; */

  z-index: 2;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.5s;
}

.hiddenBtn:hover {
  border: 2px solid red;
}
