.box {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 790px;
}
.text {
  color: rgba(255, 255, 255, 0.199);
  transition: 1s;
  text-decoration: none;
}
.text:hover {
  color: rgba(255, 255, 255, 0.582);
}
